.sidebar {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: rgb(125, 125, 255);
  z-index: 100;
}
.sidebar > div {
  background: white;
  margin: 10px 20px;
  cursor: grab; 
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  font-size: large;
}
